/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'ngx-toastr/toastr';






// buttons 
.button-small {
    @apply px-2.5 py-2 rounded-lg duration-200 cursor-pointer text-xs;
    &.primary{
        @apply bg-primary/90 text-white shine-effect hover:scale-105 ease-in-out;
    }
    &.secondary{
        @apply bg-secondary/90 text-white shine-effect hover:scale-105 ease-in-out;
    }
    &.success{
        @apply bg-success text-white shine-effect;
    }
    &.danger {
        @apply bg-danger hover:bg-red-300 duration-300 text-white;
    }
    &.warning {
        @apply bg-warning hover:bg-yellow-300 duration-300 text-white;
    }
}
.button {
    @apply px-2.5 py-3.5 rounded-lg duration-200 cursor-pointer;

    &.primary{
        @apply bg-primary/90 text-white shine-effect hover:scale-105 ease-in-out;
    }
    &.secondary{
        @apply bg-secondary/90 text-white shine-effect hover:scale-105 ease-in-out;
    }
    &.success{
        @apply bg-success text-white shine-effect;
    }
    &.danger {
        @apply bg-danger hover:bg-red-300 duration-300 text-white;
    }
    &.warning {
        @apply bg-warning hover:bg-yellow-300 duration-300 text-white;
    }
}




// shine effect
.shine-effect {
    position: relative;
    overflow: hidden;
}

.shine-effect::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    transform: skewX(-25deg);
    transition: all 0.7s;
    pointer-events: none;
}

.shine-effect:hover::before {
    left: 200%;
}